<div class="job-index">

  <div class="dropdown clearfix pull-right" id="include-job">
      <br>
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        排序
          <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
          <li>
            <%= link_to("按照薪资下限排序", jobs_path(:order => "by_lower_bound")) %>
          </li>
          <li>
              <%= link_to("按照薪资上限排序", jobs_path(:order => "by_upper_bound")) %>

          </li>
          <li>
            <%= link_to("按照发表时间排序", jobs_path ) %>

          </li>
      </ul>
  </div>
  <br>
  <br>
  <br>
  <div class="job-table">
   <% @jobs.each do |job| %>
    <div class="row jobs-show">
      <div class="col-md-12 col-lg-10 col-lg-offset-1">
        <div class="pull-right">
        发布时间： <%= job.created_at.to_date %>
        </div>
        <p>职位名称：<%= link_to(job.title, job_path(job)) %></p>


        <div class="row">
          <div class="col-md-12">
            <p>工资范围：<%= job.wage_lower_bound %> - <%= job.wage_upper_bound %> </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>职位描述：<%= job.description %> </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>联系邮箱：<%= job.contact_email %> </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p><%= link_to("快速应聘", job_path(job))%> </p>
          </div>
        </div>

      </div>
    </div>
    <% end %>
  </div>
</div>
